* {
    margin: 0;
    padding: 0;
}

@mixin flexCenter($align, $direction) {
    display: flex;
    height: 100vh;
    align-items: $align;
    flex-direction: $direction;
    justify-content: center;
}

body {
    @include flexCenter(flex-start, row);
}

.hero {
    width: 100vw;
    background: red;
    height: 200px;
}

// Nav 

header {

    nav {
        color: white;
        height: 50px;
        width: 100vw;
        background: black;

        ul {
            width: 100vw;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            list-style-type: none;

            li {
                margin: 0 10px 0 10px;

                &:hover {
                    cursor: pointer;
                    font-size: 1.1rem;
                    color: pink;
                    transition: 0.1s ease;
                }
            }
        }
    }
}

// Homepage 

.homepage-container {

    @include flexCenter(center, column);
    text-align: center;

    h1 {
        font-size: 3rem;
    }

    p {
        font-size: 2rem;
    }
}